body {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  margin: 0;
}

.card {
    border: 2px solid green;
    /* font-size: 3rem; */
  width: 500px;
  height: 500px;
  /* background-color: black; */
}

.container{
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
    justify-content: center;
    margin:5rem 0;
}