body {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 5px solid white;
  width: 400px;
  height: 500px;
  position: relative;
  border-top-left-radius: 32px;
  border-bottom-right-radius: 32px;
  background-color: rgb(237, 228, 162);
}

.title-id {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 75px;
  text-align: center;
  height: 75px;
  background-color: rgb(0, 0, 0, 0.7);
  font-size: 4rem;
  color: wheat;
}

.card img {

  width: 100%;
  margin-top: 0;
  height: 350px;
  border-top-left-radius: 32px;
}

.card h1 {
  cursor: pointer;
  margin: 10px 0 0;
  font-size: 2rem;
  font-weight: 900;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(80, 19, 19);
}

.card h2 {
  margin: 10px 0;
  font-size: 1.5rem;
  font-weight: 200;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(80, 19, 19);
}

.main-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 5rem;
}
.topic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.favorite {
  cursor: pointer;
  font-size:0.8rem;
  background-color: rgb(80, 19, 19);
  padding: 1rem;
  color: wheat;
  border-radius: 32px;
}

.container {
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5rem 0;
}

.detail {
  display: flex;
  justify-content: space-around;
  gap: 4rem;
  background-color: rgb(80, 19, 19);
  width: 90%;
  padding: 0.5rem;
  color: wheat;
  margin-bottom: 8px;
  border-bottom-right-radius: 32px;
  border-top-left-radius: 32px;
}
